.pokemons-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pokemon-mini-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 1px black;
  border-radius: 1rem;
  background-color: #666;
  color: white;
  transition: 0.4s;
}
.pokemon-mini-card:hover {
  background-color: hsl(215, 70%, 50%);
}

.pokemon-mini-card-image {
  background-color: white;
}
.pokemon-mini-card-image img {
  transition: 0.4s;
}
.pokemon-mini-card:hover .pokemon-mini-card-image img {
  scale: 1.3;
}

.pokemon-name-link {
  text-transform: capitalize;
  font-weight: bold;
}

.table-pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-next-btn,
.pokemon-previous-btn {
  cursor: pointer;
  background-color: #f44336;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.pokemon-next-btn:hover,
.pokemon-previous-btn:hover {
  background-color: hsl(4, 90%, 38%);
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.pokemon-next-btn:active,
.pokemon-previous-btn:active {
  background-color: #f44336;
  transform: translateY(2px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
