/* Define a altura da navbar e a cor de fundo */
.navbar {
  width: 100%;
  background-color: #364851;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1vw;
}

/* Alinha a logo à esquerda e define estilos para o burger menu */
.navbar-brand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-burger {
  display: none;
}

/* Define estilos para a imagem da logo */
.navbar-brand img {
  height: 60px;
  margin-right: 10px;
}

/* Define estilos para a lista de links e animações para o hover */
.navbar-menu {
  display: flex;
  padding-bottom: 20px;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-item:hover {
  color: #f1c40f;
  transform: scale(1.1);
}
