.request-error {
  font-family: "Pokemon";
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(2rem, 6vw, 6rem);
  color: #ffca05;
  -webkit-text-stroke: 0.3rem #3262b4;
  text-shadow: -0.6rem 0.6rem 1px #000000aa;
  padding: 2rem;
}

.pokemon-search-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-search-header img:first-child {
  transform: scaleX(-1);
}
.pokemon-title {
  text-align: center;
}
.pokemon-title-name {
  text-transform: capitalize;
  text-shadow: 2px 2px 1px #fff, -2px -2px 1px #fff, -2px 2px 1px #fff,
    2px -2px 1px #fff;
}

.cards-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.section-title {
  padding: 2rem 0 0 0;
}

.pokemon-card .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pokemon-card .pokemon-card-image {
  object-fit: cover;
}

.pokemon-evolution {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokemon-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  border: solid 10px #364851;
  border-radius: 50px;
  margin: 0 auto;
  padding: 0 30px;
  width: 90%;
  background: radial-gradient(
      circle at 50% 50%,
      #364851 4.8%,
      #fff 5%,
      #fff 11.8%,
      #364851 12%,
      #364851 17.8%,
      transparent 18%
    ),
    linear-gradient(
      #fe3d00 0%,
      #fe3d00 44.8%,
      #364851 45%,
      #364851 54.8%,
      white 55%,
      white 100%
    );
}
.pokemon-evo-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-evo-card {
  width: 30%;
  min-width: 235px;
  text-align: center;
}

.pokemon-evo-card .pokemon-evo-image {
  width: 100%;
  transition: 0.4s;
}
.pokemon-evo-card .pokemon-evo-image:hover {
  scale: 1.2;
}

.pokemon-evo-card .pokemon-evo-name {
  text-transform: capitalize;
}

.pokemon-evo-arrow {
  font-size: 2rem;
  width: 0.0000001;
  color: white;
}

/*#########################*/
.cards-container {
  width: 20rem;
  background: white;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.cards-container .card {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.cards-container .card img {
  width: 100%;
}

.pokemon-type-tag {
  border: solid 2px #fff;
  border-radius: 1rem;
  color: #fff;
  font-weight: bold;
  margin: 0.3rem;
  padding: 0.2rem;
}

/* TYPES */
.type_normal {
  background-color: #aa9;
}
.type_gradient_normal {
  background: linear-gradient(0deg, transparent, #aa9);
}

.type_fire {
  background-color: #f42;
}
.type_gradient_fire {
  background: linear-gradient(0deg, transparent, #f42);
}

.type_water {
  background-color: #39f;
}
.type_gradient_water {
  background: linear-gradient(0deg, transparent, #39f);
}

.type_electric {
  background-color: #fc3;
}
.type_gradient_electric {
  background: linear-gradient(0deg, transparent, #fc3);
}

.type_grass {
  background-color: #7c5;
}
.type_gradient_grass {
  background: linear-gradient(0deg, transparent, #7c5);
}

.type_ice {
  background-color: #6cf;
}
.type_gradient_ice {
  background: linear-gradient(0deg, transparent, #6cf);
}

.type_fighting {
  background-color: #b54;
}
.type_gradient_fighting {
  background: linear-gradient(0deg, transparent, #b54);
}

.type_poison {
  background-color: #a59;
}
.type_gradient_poison {
  background: linear-gradient(0deg, transparent, #a59);
}

.type_ground {
  background-color: #db5;
}
.type_gradient_ground {
  background: linear-gradient(0deg, transparent, #db5);
}

.type_flying {
  background-color: #89f;
}
.type_gradient_flying {
  background: linear-gradient(0deg, transparent, #89f);
}

.type_psychic {
  background-color: #f59;
}
.type_gradient_psychic {
  background: linear-gradient(0deg, transparent, #f59);
}

.type_bug {
  background-color: #ab2;
}
.type_gradient_bug {
  background: linear-gradient(0deg, transparent, #ab2);
}

.type_rock {
  background-color: #ba6;
}
.type_gradient_rock {
  background: linear-gradient(0deg, transparent, #ba6);
}

.type_ghost {
  background-color: #66b;
}
.type_gradient_ghost {
  background: linear-gradient(0deg, transparent, #66b);
}

.type_dragon {
  background-color: #76e;
}
.type_gradient_dragon {
  background: linear-gradient(0deg, transparent, #76e);
}

.type_dark {
  background-color: #754;
}
.type_gradient_dark {
  background: linear-gradient(0deg, transparent, #754);
}

.type_steel {
  background-color: #aab;
}
.type_gradient_steel {
  background: linear-gradient(0deg, transparent, #aab);
}

.type_fairy {
  background-color: #e9e;
}
.type_gradient_fairy {
  background: linear-gradient(0deg, transparent, #e9e);
}
