.pokemon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  background: linear-gradient(135deg, hsl(210, 84%, 55%), hsl(210, 84%, 35%));
  border-radius: 5px;
}

.pokemon-card .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px 2px #666;
}

.pokemon-card .pokemon-name {
  text-transform: capitalize;
  color: rgb(0, 128, 255);
  text-shadow: 2px 2px 1px #fff, -2px -2px 1px #fff, -2px 2px 1px #fff,
    2px -2px 1px #fff;
}

.pokemon-card .pokemon-image img {
  width: 100%;
  filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 10px #fff)
    drop-shadow(0px 0px 15px hsl(235, 100%, 50%))
    drop-shadow(0px 0px 20px hsl(235, 100%, 50%));
}

.pokemon-chain {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TYPES */
.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_electric {
  background-color: hsl(45, 100%, 60%);
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}
