.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px 3px #000;
}

#pokemons-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to bottom,
    #14c6f0,
    #091d57 850px,
    #f02e14 90%,
    #f07714 100%
  );
  z-index: 99;
}

.pokemons {
  background-image: linear-gradient(
    to bottom,
    #14c6f0,
    #091d57 850px,
    #f02e14 90%,
    #f07714 100%
  );
}
.pokemons-title {
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px 2px #000;
}
.pokemons-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pokemon-mini-card {
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  padding: 1rem;
  border: solid 4px #364851;
  border-radius: 1rem;
  border-radius: 50%;
  background: radial-gradient(
      circle at 50% 50%,
      #364851 4%,
      #fff 5%,
      #fff 11%,
      #364851 12%,
      #364851 17%,
      transparent 18%
    ),
    linear-gradient(
      #fe3d00 0%,
      #fe3d00 44%,
      #364851 45%,
      #364851 54%,
      white 55%,
      white 100%
    );
  box-shadow: inset -8px 0px 8px 2px #77777766, inset 8px 0px 3px 2px #ffffff66;
  color: #000;
  transition: 0.4s;
}

.pokemon-mini-card-image {
  border-radius: 1rem;
  transition: 0.1s;
  filter: drop-shadow(4px 4px 1px #000);
}
.pokemon-mini-card-image img {
  transition: 0.4s;
  max-width: 100%;
}
.pokemon-mini-card .not-found-image {
  width: 50%;
  padding: 10px;
}

.pokemon-mini-card-name {
  transition: 0.3s;
}

.pokemon-mini-card:hover .pokemon-mini-card-image {
  filter: drop-shadow(6px 6px 4px #000);
}
.pokemon-mini-card:hover .pokemon-mini-card-image img {
  scale: 1.5;
}
.pokemon-mini-card:hover .pokemon-mini-card-name {
  font-size: 1.1rem;
}

.pokemon-name-link {
  text-transform: capitalize;
  font-weight: bold;
}

.table-pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.pokemon-next-btn,
.pokemon-previous-btn {
  cursor: pointer;
  background-color: #fe3d00;
  color: white;
  padding: 10px 22px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 3px 1px 1px #000;
  transition: all 0.2s;
}

.pokemon-next-btn:hover,
.pokemon-previous-btn:hover {
  transform: translateY(-2px);
  box-shadow: 3px 5px 3px 1px #000;
}
.pokemon-next-btn:active,
.pokemon-previous-btn:active {
  background-color: #f44336;
  transform: translateY(4px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
