* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 1rem;
  margin: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

@keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(359deg);
  }
}
.poke-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.poke-loading img {
  width: 200px;
  animation: loading 2s linear infinite;
}
